@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://db.onlinewebfonts.com/c/f40b124d9203dea7aea83ff1e631c043?family=FK+Grotesk');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500;1,600&family=Quicksand:wght@300;400;500;600;700&family=Red+Hat+Mono:wght@300&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,400;1,600;1,700;1,900&family=Ubuntu:wght@300;400&display=swap');
@layer base {
  html {
    /* font-family:'Quicksand', sans-serif; */
  }


}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffff;
}
.wave {
  width: 5px;
  height: 100px;
  background: #fb923c;
  margin: 3px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.2s;
}
.wave:nth-child(3) {
  animation-delay: 0.26s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.36s;
}
.wave:nth-child(6) {
  animation-delay: 0.40s;
}
.wave:nth-child(7) {
  animation-delay: 0.46s;
}
.wave:nth-child(8) {
  animation-delay: 0.50s;
}
.wave:nth-child(9) {
  animation-delay: 0.56s;
}
.wave:nth-child(10) {
  animation-delay: 0.60s;
}

@keyframes wave {
  0% {
    transform: scaleY(0.1);
  }
  50% {
    transform: scaleY(0.7);
  }
  100% {
    transform: scaleY(0.1);
  }
}


.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #FF3D00 #FF3D00;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 32px;
  height: 32px;
  border-color: #FFF #FFF transparent transparent;
  animation: rotation 1.5s linear infinite;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.gl{
  position: relative;
}
.gl  ::before{
  position: absolute;
  content: '';
  width:0%;
  height: 2px;
  background: rgb(255, 194, 62);
  transition: all ease-in 200ms ;
}
.gl .gl-active ::before{
 
  width:100%;

}

.swiper-pagination-bullet{
  width: 15px !important;
  height: 4px !important;
  border-radius: 25% !important;
  transition: all ease-in 200ms ;
}

.swiper-pagination-bullet-active{
  width: 20px !important;
  height: 4px !important;
  border-radius: 25% !important;
  background-color: #fb923c !important;
}